<% include header.ejs%>
<% include right.ejs%>

	<div class="main_favorites">
		<div class="head_fav ">
			<a href="" onclick="magicChange();" id="magicButton">个人收藏</a>
			<a href="" onclick="magicChange();" id="clickIt"><span class="icon-point-left clickIt"></span></a>
		</div>
		<div class="main_fav ">
			<div class="left_main_fav fl">
				<div class="tools_title">
		
					<h2>常用工具</h2>
			
				</div>
				<div class="tools_content">
					<h1><span class="icon-hammer"></span>&nbsp;&nbsp;加密解密</h1>
					<ul>
						<li><a href="https://link.zhihu.com/?target=http%3A//evilcos.me/lab/xssee/">XSSEE 3.0 Beta</a></li>
						
						<li><a href="http://www.cmd5.com/">CMD5</a></li>
						
						<li><a href="http://freemypdf.com/">PDF破解</a></li>

						<li><a href="http://tmxk.org/jother/">Jother编码工具</a></li>

						
					</ul>
				</div>


				<div class="tools_content">
					<h1><span class="icon-search"></span>&nbsp;&nbsp;资源搜索</h1>
					<ul>
						<li><a href="http://tineye.com/">TinyEye</a></li>
						
						<li><a href="http://www.btsearchs.com/">BT种子搜索</a></li>
						
						<li><a href="http://pachong.org/ ">爬虫代理IP</a></li>

						


					</ul>
				</div>


			</div>
			<div class="right_main_fav fr">
				<div class="websites_title">
		
					<h2>推荐站点</h2>
			
				</div>
				<div class="websites_content">
					<h1><span class="icon-accessibility"></span>&nbsp;&nbsp;友情链接</h1>
					<table>
						<tr>
							<td><a href="http://hinami.xyz/">Hinami</a></td>
							<td><a href="http://natsuyu.cc/">Natsuyu</a></td>
							
							
							
						
						</tr>
						
					</table>


				</div>

				<div class="websites_content">
					<h1><span class="icon-magic-wand"></span>&nbsp;&nbsp;素材站</h1>
					<table>
						<tr>
							<td><a href="https://icomoon.io/app/#/select">Icomoon图标库</a></td>
							<td><a href="http://www.dafont.com/">Dafont字体库</a></td>
							<td><a href="https://www.zhihu.com/question/20299865?rf=22041107">编程字体推荐</a>
							</td>
							
							<td><a href="http://www.atool.org/pngcompression.php">在线压缩图片</a>
							</td>

							<td><a href="https://tinypng.com/">TinyPng压缩神站</a>
							</td>

							
							
							
						
						</tr>
						
					</table>
			</div>
		</div>
	</div>
</div>


<% include footer.ejs%>