<% include header.ejs%>
<div class="father">

	<% include left.ejs%>
	<% include right.ejs%>
	<div class="main">
		<% include main_home.ejs%>

	</div><!-- main 结束 -->
	

</div>



<% include footer.ejs%>
