<% include header.ejs%>
<div id="login">
	<h1>
		<img src="/images/c_icon_1.png" alt="网站LOGO">
	</h1>
	<form id="login_form" method="post" action='/login' onsubmit="return validate_login();">
		<p>
			<label for="username" class="username_label">用户名</label>
			<input type="text" id="username" name="username" placeholder="">
		</p>
		<p>
			<label for="password" class="password_label">口令</label>
			<input type="text" id="password" name="password" placeholder="">
		</p>
		<input type="submit" name="submit3" value="提交">
	</form>
</div>






<% include footer.ejs%>