<div class="main_about">
	
	<div class="content me_content">
		<div class="head">
			<h1>About | Me</h1>
			<div>
				<span class="icon-calendar icon"></span>
				<span class="date">2016-03-23</span>
			</div>
			
		</div>

		<div class="my_info">
			<img src="../images/my_head.png" alt="个人头像" >
			<h1>秦宇峰</h1>
			<h2>Web Developer</h2>
			<h3>
					<span class="icon-location2"></span>
				

				HNU,China</h3>
			<h2>当前状态</h2>
			<p>大三学生一枚 | 计科专业 | 前端开发 | 漫威粉 | 日漫宅 </p>
				
			<h2>个人简历页面</h2>
			<h2><a href="../me">www.cyberpunk.top/me</a></h2>

		</div>
	</div>

	
	<div class="content blog_content">
		<div class="head">

			<h1>History | 博客</h1>
			<div>
				<span class="icon-calendar icon"></span>
				<span class="date">2016-03-23</span>
			</div>
		</div>
		<div class="blog_info">
			
			<%- article.route%>

		</div>
	</div>

	<div class="content contact_content">
		<div class="head">

			<h1>Contact | 联系我</h1>
			<div>
				<span class="icon-calendar icon"></span>
				<span class="date">2016-03-23</span>
			</div>
		</div>
		<div class="contact_info">
			
			<h1><a href="tencent://message/?uin=229249774&Site=&Menu=yes">  Q Q: &nbsp;&nbsp;229249774</a></h1>
			<h1>邮件：229249774@qq.com</h1>


		</div>
	</div>


	
	<div id="particles-js"></div>
    

	
</div>

