<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>警告</title>
</head>
<body>
	<h1 >
	私人博客，暂时不开放注册。
</h1>
</body>
</html>

<!-- <div id="reg">
	<h1>
		<img src="/images/c_icon_1.png" alt="网站LOGO">
	</h1>
	<form id="reg_form" method="post" action='/reg' onsubmit="return validate_reg();">
		<p>
			<label for="username" class="username_label">用户名</label>
			<input type="text" id="username" name="username" placeholder="你的账户名称，用于登录和显示">
		</p>
		<p>
			<label for="password" class="password_label">口令</label>
			<input type="text" id="password" name="password" placeholder="">
		</p>
		<p>
			<label for="repeat_password" class="repeat_password_label">重复输入口令</label>
			<input type="text" id="repeat_password" name="repeat_password" placeholder="">
		</p>
		<input type="submit" name="submit2" value="提交">
	</form>
</div> -->






